.container{
    height: 100vh;
    width: 100%;
}

.header-container{
    height: 70px;
    width: 100%;
    background-color: #6FCF97;
}

.main-container{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
}

.sidebar-container{
    width: 330px;
    height: 100%;
    background-color: #6FCF97;
}

.main-content-container{
    width: calc(100% - 330px);
    background-color: aqua;
}


@media only screen and (max-width: 1290px) {
    .header-container{
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vh;
    }
    .sidebar-container{
        width: 0px;
        visibility: hidden;
    }
    .main-content-container{
        width: 100vh;
    }

  }